@model WEB_UI_MVC.ViewModels.PublicationsViewModel

@{
    @if (Model.Utilisateur.Admin == "YES")
    {
        ViewData["Title_P1"] = "OMNI-PM-ADMIN";
        ViewData["Title_P2"] = "Modifier une publication";
    }
    else if (Model.Utilisateur.Admin == "CDP")
    {
        ViewData["Title_P1"] = "OMNI-PM-CDP";
        ViewData["Title_P2"] = "Modifier une publication";
    }
}


<header>
    <nav class="navbar navbar-expand-sm navbar-light box-shadow mb-3">
        <div class="container">
            @if (Model.Utilisateur.Admin == "YES")
            {
                <a class="navbar-brand" asp-area="" asp-controller="Accueil" asp-action="Index">
                    <img src="~/images/ADMIN.png" style="width:160px" alt="omniadmin_img">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TDB" asp-action="Projets">TDB</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Utilisateurs" asp-action="Utilisateurs">Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projets" asp-action="Projets">Projets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Publications" asp-action="Publications">Publications</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="~/images/USER.jpg" style="width:28px; border-radius:100px;" alt="user_img">
                            </a>
                            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                                <li>
                                    Mr/Mme. <span class="text-primary">@Model.Utilisateur.Name</span>
                                </li>
                                <li><a asp-area="" asp-controller="Password" asp-action="Changer_Le_MDP" asp-route-id="@Model.Utilisateur.Id" class="dropdown-item" style="color: #003D99;">Modifier MDP</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Privacy" class="dropdown-item" style="color: #ff0000;">Se déconnecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
            else if (Model.Utilisateur.Admin == "CDP")
            {
                <a class="navbar-brand" asp-area="" asp-controller="Accueil" asp-action="Index">
                    <img src="~/images/OMNI-PM.png" style="width:160px" alt="omnipm_img" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Utilisateurs" asp-action="Utilisateurs">Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projets" asp-action="Projets">Projets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Publications" asp-action="Publications">Publications</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="~/images/USER.jpg" style="width:28px; border-radius:100px;" alt="user_img">
                            </a>
                            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                                <li>
                                    Mr/Mme. <span class="text-primary">@Model.Utilisateur.Name</span>
                                </li>
                                <li><a asp-area="" asp-controller="Password" asp-action="Changer_Le_MDP" asp-route-id="@Model.Utilisateur.Id" class="dropdown-item" style="color: #003D99;">Modifier MDP</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Privacy" class="dropdown-item" style="color: #ff0000;">Se déconnecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </nav>
</header>

<div class="container main-content">
    <main role="main" class="pb-3">
        <h1 class="mb-4 text-center">Modifier la <span class="text-primary">publication</span></h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center"><i class="fas fa-edit me-2"></i>Modifier la publication</h4>
                    </div>
                    <div class="card-body">
                        <form asp-action="Modifier">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                                <label for="title" class="form-label"><i class="fas fa-heading me-2"></i>Titre</label>
                                <input id="title" asp-for="@Model.Publication.Title" class="form-control" />
                                <span asp-validation-for="@Model.Publication.Title" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label"><i class="fas fa-file-alt me-2"></i>Description</label>
                                <textarea id="description" asp-for="@Model.Publication.Description" class="form-control" rows="5"></textarea>
                                <span asp-validation-for="@Model.Publication.Description" class="text-danger"></span>
                            </div>
                            <input asp-for="@Model.Publication.Id" style="display:none" class="form-control" />
                            <input asp-for="@Model.Publication.Date" style="display:none" class="form-control" readonly />
                            <input asp-for="@Model.Publication.Heure" style="display:none" class="form-control" readonly />
                            <input asp-for="@Model.Publication.UserId" style="display:none" class="form-control" readonly />
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save me-2"></i>Enregistrer les modifications</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3 text-center">
            <a asp-action="Publications" class="btn btn-secondary"><i class="fas fa-list me-2"></i>Retourner à la liste</a>
        </div>
    </main>
</div>


<footer class="border-top footer bg-teritory box-shadow text-muted">
    <div class="container text-center">
        &copy; 1989-<span id="currentYear"></span>, <span class="text-primary">OMNI-PM</span>
    </div>
</footer>

