@model WEB_UI_MVC.ViewModels.PublicationsViewModel

@{
    if (Model.Utilisateur.Admin == "YES")
    {
        ViewData["Title_P1"] = "OMNI-PM-ADMIN";
        ViewData["Title_P2"] = "Gérer les publications";
    }
    else if (Model.Utilisateur.Admin == "CDP")
    {
        ViewData["Title_P1"] = "OMNI-PM-CDP";
        ViewData["Title_P2"] = "Gérer les publications";
    }
    else
    {
        ViewData["Title_P1"] = "OMNI-PM";
        ViewData["Title_P2"] = "Publications";
    }
}


<header>
    <nav class="navbar navbar-expand-sm navbar-light box-shadow mb-3">
        <div class="container">
            @if (Model.Utilisateur.Admin == "YES")
            {
                <a class="navbar-brand" asp-area="" asp-controller="Accueil" asp-action="Index">
                    <img src="~/images/ADMIN.png" style="width:160px" alt="omniadmin_img">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TDB" asp-action="Projets">TDB</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Utilisateurs" asp-action="Utilisateurs">Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projets" asp-action="Projets">Projets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Publications" asp-action="Publications">Publications</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="~/images/USER.jpg" style="width:28px; border-radius:100px;" alt="user_img">
                            </a>
                            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                                <li>
                                    Mr/Mme. <span class="text-primary">@Model.Utilisateur.Name</span>
                                </li>
                                <li><a asp-area="" asp-controller="Password" asp-action="Changer_Le_MDP" asp-route-id="@Model.Utilisateur.Id" class="dropdown-item" style="color: #003D99;">Modifier MDP</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Privacy" class="dropdown-item" style="color: #ff0000;">Se déconnecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
            else if (Model.Utilisateur.Admin == "CDP")
            {
                <a class="navbar-brand" asp-area="" asp-controller="Accueil" asp-action="Index">
                    <img src="~/images/OMNI-PM.png" style="width:160px" alt="omnipm_img" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Utilisateurs" asp-action="Utilisateurs">Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projets" asp-action="Projets">Projets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Publications" asp-action="Publications">Publications</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="~/images/USER.jpg" style="width:28px; border-radius:100px;" alt="user_img">
                            </a>
                            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                                <li>
                                    Mr/Mme. <span class="text-primary">@Model.Utilisateur.Name</span>
                                </li>
                                <li><a asp-area="" asp-controller="Password" asp-action="Changer_Le_MDP" asp-route-id="@Model.Utilisateur.Id" class="dropdown-item" style="color: #003D99;">Modifier MDP</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Privacy" class="dropdown-item" style="color: #ff0000;">Se déconnecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <a class="navbar-brand" asp-area="" asp-controller="Accueil" asp-action="Index">
                    <img src="~/images/OMNI-PM.png" style="width:160px" alt="omnipm_img" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Publications" asp-action="Publications">Nouveautés</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Semaines" asp-action="Semaines">Semaines</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="~/images/USER.jpg" style="width:28px; border-radius:100px;" alt="user_img">
                            </a>
                            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                                <li>
                                   Mr/Mme. <span class="text-primary">@Model.Utilisateur.Name</span>
                                </li>
                                <li><a asp-area="" asp-controller="Password" asp-action="Changer_Le_MDP" asp-route-id="@Model.Utilisateur.Id" class="dropdown-item" style="color: #003D99;">Modifier MDP</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Privacy" class="dropdown-item" style="color: #ff0000;">Se déconnecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </nav>
</header>

<div class="container main-content">
    <main role="main" class="pb-3">
        @if (Model.Utilisateur.Admin == "YES" || Model.Utilisateur.Admin == "CDP")
        {
            <h1 class="text-center mb-4">Liste des <span class="text-primary">publications</span></h1>
            <p class="text-center">
                <a class="btn btn-primary w-100 mt-3" asp-action="Ajouter">Ajouter une nouvelle publication</a>
            </p>
        }
        else
        {
            <h1 class="text-center mb-4">Liste des <span class="text-primary">publications</span></h1>
        }

        @if (Model.Publications.Count != 0)
        {
            @foreach (var item in Model.Publications)
            {
                <div class="row my-3 publication @(Model.Publications.IndexOf(item) >= 6 ? "hide" : "")">
                    <div class="col-md-12">
                        <div class="card" style="border-radius: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                            <div class="card-body">
                                <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Title)</h5>
                                <p class="card-text text-center">@Html.DisplayFor(modelItem => item.Description)</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-primary">@item.Date.ToString("dd/MM/yyyy")</small>
                                    <small class="text-muted">@Html.DisplayFor(modelItem => item.Heure)</small>
                                    @if (Model.Utilisateur.Admin == "CDP" || Model.Utilisateur.Admin == "YES")
                                    {
                                        <div class="btn-group">
                                            <a href="@Url.Action("Modifier", new { id = item.Id })" class="btn btn-sm btn-outline-secondary me-2" title="Modifier"><i class="fas fa-edit"></i></a>
                                            <a href="@Url.Action("Supprimer", new { id = item.Id })" class="btn btn-sm btn-outline-danger" title="Supprimer"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Publications.Count > 6)
            {
                <button id="btnAfficherPlus" class="btn d-block mx-auto btn-primary mt-3">Afficher plus</button>
            }
        }
        else
        {
            <p class="text-center">Aucune publication publiée.</p>
        }
    </main>
</div>




<footer class="border-top footer bg-teritory box-shadow text-muted">
    <div class="container text-center">
        &copy; 1989-<span id="currentYear"></span>, <span class="text-primary">OMNI-PM</span>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Script pour afficher les alertes -->
<script>
    function showAlert(icon, title, message) {
        Swal.fire({
            icon: icon,
            title: title,
            text: message
        });
    }
    document.addEventListener("DOMContentLoaded", function () {
        var successMessage = '@(TempData["action"])';

        if (successMessage == "Ajouter") {
            showAlert('success', 'Succès', "La publication est crée avec succés");
        }
        else if (successMessage == "Modifier") {
            showAlert('success', 'Succès', "La publication est modifiée avec succés");
        }
        else if (successMessage == "Supprimer") {
            showAlert('success', 'Succès', "La publication est supprimée avec succés");
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        var btnAfficherPlus = document.getElementById('btnAfficherPlus');
        var publicationsCachees = document.querySelectorAll('.publication.hide');

        btnAfficherPlus.addEventListener('click', function () {
            publicationsCachees.forEach(function (publication) {
                publication.classList.toggle('hide');
            });

            if (btnAfficherPlus.textContent === "Afficher plus") {
                btnAfficherPlus.textContent = "Afficher moins";
            } else {
                btnAfficherPlus.textContent = "Afficher plus";
            }
        });
    });
</script>