@model WEB_UI_MVC.ViewModels.UsersViewModel

@{
    @if (Model.Utilisateur.Admin == "YES")
    {
        ViewData["Title_P1"] = "OMNI-PM-ADMIN";
        ViewData["Title_P2"] = "Gérer les utilisateurs";
    }
    else if (Model.Utilisateur.Admin == "CDP")
    {
        ViewData["Title_P1"] = "OMNI-PM-CDP";
        ViewData["Title_P2"] = "Les utilisateurs";
    }
}


<header>
    <nav class="navbar navbar-expand-sm navbar-light box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Accueil" asp-action="Index">
                <img src="~/images/ADMIN.png" style="width:160px" alt="omniadmin_img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="TDB" asp-action="Projets">TDB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Utilisateurs" asp-action="Utilisateurs">Utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Projets" asp-action="Projets">Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Publications" asp-action="Publications">Publications</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="~/images/USER.jpg" style="width:28px; border-radius:100px;" alt="user_img">
                        </a>
                        <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                            <li>
                                Mr/Mme. <span class="text-primary">@Model.Utilisateur.Name</span>
                            </li>
                            <li><a asp-area="" asp-controller="Password" asp-action="Changer_Le_MDP" asp-route-id="@Model.Utilisateur.Id" class="dropdown-item" style="color: #003D99;">Modifier MDP</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a asp-area="" asp-controller="Auth" asp-action="Logout_Traitement" class="dropdown-item" style="color: #ff0000;">Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container main-content">
    <main role="main" class="pb-3">
        <h1 class="text-center font-weight-bold">Liste des <span class="text-primary">utilisateurs</span></h1>

        <div class="my-5">
            <div class="text-center">
                <i>Rechercher un utilisateur</i>
            </div>
            <input class="form-control d-block mx-auto w-50 mt-2" id="searchInput" placeholder="Rechercher par le nom d'utilisateur" />
        </div>

        @if (Model.Utilisateur.Admin == "YES")
        {
            <div class="mb-3">
                <a class="btn btn-primary w-100" asp-action="Ajouter">
                    <i class="fas fa-user-plus"></i> Ajouter un nouveau utilisateur
                </a>
            </div>
        }

        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.User.Username)</th>
                    <th>@Html.DisplayNameFor(model => model.User.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.User.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.User.Email)</th>
                    @if (Model.Utilisateur.Admin == "YES")
                    {
                        <th>@Html.DisplayNameFor(model => model.User.Password)</th>
                        <th>@Html.DisplayNameFor(model => model.User.Activity)</th>
                    }
                    <th>Admin</th>
                    @if (Model.Utilisateur.Admin == "YES")
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr class="user @(Model.Users.IndexOf(item) >= 4 ? "hide" : "")">
                        <td>@Html.ActionLink(item.Username, "SemainesUser", "Semaines", new { id_user = item.Id }, new { @class = "text-decoration-none" })</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        @if (Model.Utilisateur.Admin == "YES")
                        {
                            <td>@Html.DisplayFor(modelItem => item.Password)</td>
                            <td>@Html.DisplayFor(modelItem => item.Activity)</td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.Admin)</td>
                        @if (Model.Utilisateur.Admin == "YES")
                        {
                            <td>
                                <a href="@Url.Action("Modifier", new { id = item.Id })" class="btn btn-primary me-2" title="Modifier"><i class="fas fa-edit"></i></a>
                                <a href="@Url.Action("Supprimer", new { id = item.Id })" class="btn btn-danger" title="Supprimer"><i class="fas fa-trash"></i></a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        <button id="btnAfficherPlus" class="btn text-white d-block mx-auto btn-info mt-3">Afficher plus</button>

    </main>
</div>



<footer class="footer text-muted">
    <div class="container text-center">
        &copy; 1989-<span id="currentYear"></span>, <span class="text-primary">OMNI-PM</span>
    </div>
</footer>

<script src="~/js/SearchUserInput.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Script pour afficher les alertes -->
<script>
    function showAlert(icon, title, message) {
        Swal.fire({
            icon: icon,
            title: title,
            text: message
        });
    }
    document.addEventListener("DOMContentLoaded", function () {
        var successMessage = '@(TempData["action"])';

        if (successMessage == "Ajouter") {
            showAlert('success', 'Succès', "L'utilisateur est ajouté avec succés");
        }
        else if (successMessage == "Modifier"){
            showAlert('success', 'Succès', "L'utilisateur est modifié avec succés");
        }
        else if (successMessage == "Supprimer") {
            showAlert('success', 'Succès', "L'utilisateur est supprimé avec succés");
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        var btnAfficherPlus = document.getElementById('btnAfficherPlus');
        var usersCachees = document.querySelectorAll('.user.hide');

        btnAfficherPlus.addEventListener('click', function () {
            usersCachees.forEach(function (user) {
                user.classList.toggle('hide');
            });

            if (btnAfficherPlus.textContent === "Afficher plus") {
                btnAfficherPlus.textContent = "Afficher moins";
            } else {
                btnAfficherPlus.textContent = "Afficher plus";
            }
        });
    });
</script>