@model WEB_UI_MVC.ViewModels.SemainesViewModel

@{
    @if (Model.Utilisateur.Admin == "YES")
    {
        ViewData["Title_P1"] = "OMNI-PM-ADMIN";
        ViewData["Title_P2"] = "Les semaines d'utilisateur";
    }
    else if (Model.Utilisateur.Admin == "CDP")
    {
        ViewData["Title_P1"] = "OMNI-PM-CDP";
        ViewData["Title_P2"] = "Les semaines d'utilisateur";
    }
}

<header>
    <nav class="navbar navbar-expand-sm navbar-light box-shadow mb-3">
        <div class="container">
            @if (Model.Utilisateur.Admin == "YES")
            {
                <a class="navbar-brand" asp-area="" asp-controller="Accueil" asp-action="Index">
                    <img src="~/images/ADMIN.png" style="width:160px" alt="omniadmin_img">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TDB" asp-action="Projets">TDB</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Utilisateurs" asp-action="Utilisateurs">Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projets" asp-action="Projets">Projets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Publications" asp-action="Publications">Publications</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="~/images/USER.jpg" style="width:28px; border-radius:100px;" alt="user_img">
                            </a>
                            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                                <li>
                                    Mr/Mme. <span class="text-primary">@Model.Utilisateur.Name</span>
                                </li>
                                <li><a asp-area="" asp-controller="Password" asp-action="Changer_Le_MDP" asp-route-id="@Model.Utilisateur.Id" class="dropdown-item" style="color: #003D99;">Modifier MDP</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Privacy" class="dropdown-item" style="color: #ff0000;">Se déconnecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
            else if (Model.Utilisateur.Admin == "CDP")
            {
                <a class="navbar-brand" asp-area="" asp-controller="Accueil" asp-action="Index">
                    <img src="~/images/OMNI-PM.png" style="width:160px" alt="omnipm_img" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Utilisateurs" asp-action="Utilisateurs">Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projets" asp-action="Projets">Projets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Publications" asp-action="Publications">Publications</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="~/images/USER.jpg" style="width:28px; border-radius:100px;" alt="user_img">
                            </a>
                            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                                <li>
                                    Mr/Mme. <span class="text-primary">@Model.Utilisateur.Name</span>
                                </li>
                                <li><a asp-area="" asp-controller="Password" asp-action="Changer_Le_MDP" asp-route-id="@Model.Utilisateur.Id" class="dropdown-item" style="color: #003D99;">Modifier MDP</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Privacy" class="dropdown-item" style="color: #ff0000;">Se déconnecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </nav>
</header>


<div class="container main-content">
    <main role="main" class="pb-3">
        <h1 class="text-center text-primary mb-4">Les <span>semaines</span></h1>
        <h4 class="text-center mb-5">de Mr/Mme. <span class="text-primary">@Model.User.Name</span></h4>

        @if (Model.Semaines.Count != 0)
        {
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Semaine.WeekNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.Semaine.StatusWeek)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Semaines)
                        {
                            <tr class="week @(Model.Semaines.IndexOf(item) >= 4 ? "hide" : "")">
                                <td>
                                    <a href="@Url.Action("SemaineProjetsUser", "SemaineProjets", new { id = item.Id, id_user = item.UserId })" class="text-decoration-none">
                                        <i class="fas fa-calendar-alt me-2"></i>@item.WeekNumber
                                    </a>
                                </td>
                                <td>@item.StatusWeek</td>
                                <td>
                                    <a href="@Url.Action("SemaineProjetsUser", "SemaineProjets", new { id = item.Id, id_user = item.UserId })" class="btn btn-primary">
                                        <i class="fas fa-tasks me-2"></i>Projets
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <button id="btnAfficherPlus" class="btn text-white d-block mx-auto btn-info mt-3">Afficher plus</button>
        }
        else
        {
            <p class="text-center">Aucune semaine enregistrée par Mr/Mme. @Model.Utilisateur.Name.</p>
        }
        <a asp-action="utilisateurs" asp-controller="utilisateurs" class="btn btn-secondary mt-3"><i class="fas fa-list me-2"></i>Retourner à la liste des utilisateurs</a>
    </main>
</div>


<footer class="border-top footer bg-teritory box-shadow text-muted">
    <div class="container text-center">
        &copy; 1989-<span id="currentYear"></span>, <span class="text-primary">OMNI-PM</span>
    </div>
</footer>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var btnAfficherPlus = document.getElementById('btnAfficherPlus');
        var weeksCachees = document.querySelectorAll('.user.hide');

        btnAfficherPlus.addEventListener('click', function () {
            weeksCachees.forEach(function (week) {
                week.classList.toggle('hide');
            });

            if (btnAfficherPlus.textContent === "Afficher plus") {
                btnAfficherPlus.textContent = "Afficher moins";
            } else {
                btnAfficherPlus.textContent = "Afficher plus";
            }
        });
    });
</script>